html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "bpg nino mtavruli normal";
    font-size: 100%;
    color: #ffffff;
    background-color: #ffffff;
}
a {
    color: #000000 !important;
    text-decoration: none !important;
    font-size: 13.5px;
}
nav {
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #ffffff;
    opacity: 0.9;
    top: 0;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 8px auto;
    padding: 0px;
    font-size: 17px;
}
@media screen and (max-width: 750px) {
    nav ul {
        font-size: 12px;
        margin-top: 12px;
   }
}
nav ul li {
    display: inline;
    margin: 10px;
    letter-spacing: 4px;
}
@media screen and (max-width: 750px) {
    nav ul li {
        margin: 2px;
   }
}
nav ul li:first-child {
    color: #4dca8e;
}
.flex-container {
    width: 100%;
    height: 17%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #790205;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: absolute;
    z-index: 100;
    color: white;
}
header img{
    display: block;
    margin: 0 auto;
    margin-top: 6%;
}

/* Main */
main{
    width: 100%;
    height: 70%;
    position: relative;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.slider-container {
    position: relative;
    height: 100%;
    user-select: none;
    cursor: all-scroll;
}
.slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    will-change: opacity;
    opacity: 0;
}
.slider-control.inactive:hover {
    cursor: auto;
}
.slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
}
.slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
}
.slider-control.right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%);
}
.slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
}
.slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}
.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
}
.slider {
    z-index: 1;
    position: relative;
    height: 100%;
}
.slider.animating {
    transition: transform 0.5s;
    will-change: transform;
}
.slider.animating .slide__bg {
    transition: transform 0.5s;
    will-change: transform;
}
.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slide.active .slide__overlay, .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0);
}
.slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
}
.slide:nth-child(1) {
    left: 0;
}
.slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url('../img/gtu-cern.jpg');
}
.slide:nth-child(1) .slide__overlay-path {
    fill: #e99c7e;
}
@media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
        background-color: rgba(233, 156, 126, 0.8);
   }
}
.slide:nth-child(2) {
    left: 100%;
}
.slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url('../img/gtu-italy-lasapienca.jpg');
}
.slide:nth-child(2) .slide__overlay-path {
    fill: #e1ccae;
}
@media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
        background-color: rgba(225, 204, 174, 0.8);
   }
}
.slide:nth-child(3) {
    left: 200%;
}
.slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url('../img/GTU-InnoCENS.jpg');
}
.slide:nth-child(3) .slide__overlay-path {
    fill: #adc5cd;
}
@media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
        background-color: rgba(173, 197, 205, 0.8);
   }
}
.slide:nth-child(4) {
    left: 300%;
}
.slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url('../img/jejelava-in-gtu.jpg');
}
.slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
}
@media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
        background-color: rgba(203, 198, 195, 0.8);
   }
}
.slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
}
@media (max-width: 991px) {
    .slide__overlay {
        display: none;
   }
}
.slide__overlay path {
    opacity: 0.8;
}
.slide__text {
    position: absolute;
    width: 25%;
    bottom: 15%;
    left: 5%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
}
@media (max-width: 991px) {
    .slide__text {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20rem;
        text-align: center;
        transform: translateY(50%);
        transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
        padding: 0 1rem;
   }
}
.slide__text-heading {
    font-family: 'Polar', Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 2rem;
    color: #000000;
}
@media (max-width: 991px) {
    .slide__text-heading {
        line-height: 20rem;
        font-size: 3.5rem;
   }
}
.slide__text-desc {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
    .slide__text-desc {
        display: none;
   }
}
.slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 2.3rem;
    perspective: 1000px;
}
@media (max-width: 991px) {
    .slide__text-link {
        display: none;
   }
}
.slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
    will-change: transform;
}
.slide__text-link:hover:before {
    transform: rotateX(0);
}


.flow {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 400px;
  }
  .flow .column:nth-child(2) {
    animation-delay: -11.5s;
  }
  .flow .column:nth-child(3) {
    animation-delay: -23s;
  }
  .flow .column:nth-child(4) {
    animation-delay: -34.5s;
  }
  .flow .column:nth-child(5) {
    animation-delay: -46s;
  }
  .flow .column:nth-child(6) {
    animation-delay: -57.5s;
  }
  .flow .column:nth-child(7) {
    animation-delay: -69s;
  }
  .flow .column:nth-child(8) {
    animation-delay: -80.5s;
  }
  .column {
    position: absolute;
    top: 0;
    left: 50%;
    width: 317px;
    margin-left: -120px;
    animation: wave infinite;
    animation-duration: 80s;
    animation-timing-function: linear;
  }
  .card {
    position: relative;
    content: ' ';
    display: block;
    background-size: cover;
    height: 69px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    margin-right: 20px;
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    animation: card-jiggle 20s infinite alternate;
  }
  @keyframes wave {
    0% {
      opacity: 0;
      transform: rotate(0.1deg) translate3d(1200px, 10px, 0);
   }
    5%, 95% {
      opacity: 0;
   }
    6%, 94% {
      opacity: 1;
   }
    50% {
      transform: rotate(-0.05deg) translate3d(0, 210px, 0);
   }
    to {
      opacity: 0;
      transform: rotate(0.05deg) translate3d(-1200px, 10px, 0);
   }
  }
  @keyframes card-jiggle {
    0%, 90% {
      transform: translate3d(-3px, -4px, 0);
   }
    10% {
      transform: translate3d(0, -4px, 0);
   }
    20% {
      transform: translate3d(-1px, -2px, 0);
   }
    30% {
      transform: translate3d(3px, 1px, 0);
   }
    40% {
      transform: translate3d(-4px, -1px, 0);
   }
    50% {
      transform: translate3d(-2px, -3px, 0);
   }
    60% {
      transform: translate3d(-3px, -2px, 0);
   }
    70% {
      transform: translate3d(-2px, 5px, 0);
   }
    80% {
      transform: translate3d(-1px, 5px, 0);
   }
    to {
      transform: translate3d(-2px, -3px, 0);
   }
  }